.midNav {
    background-color: rgb(80,172,225);
    height: 35px;
    line-height: 35px;
}

.midNav .midNavContent{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.midNav .midNavContent i{
    margin-left: -165px;
}
.midNav .midNavContent .backBtn{
    position: absolute;
    right: 80px
}

.rightColorIcon ul{
    list-style: none;
    width: 100px;
}

.rightColorIcon ul li {
    float: left;
    margin-right: 15px;
}

.rightColorIcon ul li a {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: red;
}