.midNav {
    background-color: rgb(80,172,225);
    height: 35px;
    line-height: 35px;
}

.midNavContent{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    color: white;
}
.midNavContent i{
    margin-left: -165px;
}
.backBtn{
    position: absolute;
    right: 80px;
    cursor: pointer;
}

.rightColorIcon ul{
    list-style: none;
    width: 100px;
    height: 35px;
    position: absolute;
    right: 0;
    top:0;
}

.rightColorIcon ul li {
    float: left;
    margin-right: 15px;
}

.rightColorIcon ul li a {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: red;
}