.midNav {
    background-color: rgb(80,172,225);
    height: 35px;
    line-height: 35px;
}

.midNavContent{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    color: white;
}
.midNavContent i{
    margin-left: -165px;
}
.backBtn{
    position: absolute;
    right: 80px;
    cursor: pointer;
}



.rightColorIcon ul{
    list-style: none;
    width: 100px;
    height: 35px;
    position: absolute;
    right: 0;
    top:0;

}

.rightColorIcon ul li {
    float: left;
    margin: 12px 15px 0 0;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.secColor{
    background: lightblue;
}

.firstColor{
    background: grey;
}

.thirdColor{
    background: whitesmoke;
}