.topNav{
    height: 65px;
    line-height: 65px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
/*ÓÒ±ßµÄtitle*/
.topNav_left span:nth-child(2) {
    color: red;
    margin-left: 15px;
    font-size: 25px;
    vertical-align: middle;
}

.topNav_left span:nth-child(2) span {
    color: rgb(80,172,225);
    font-size: 18px;
    margin-left: 5px;
}

/*µ¼º½×ó±ß*/
.topNav_right .nav_span{
    margin-right: 15px;
}

.topNav_right i{
    font-size: 18px;
    color: rgb(80,172,225);
}

.topNav_right .badge{
    background-color: rgb(80,172,225);
    vertical-align: middle;
    margin-left: 5px;
}

.topNav_right a{
    text-decoration: none;
}

.topNav_right .user_name{
    color: rgb(80,172,225);
    font-weight: bold;
}


