.queryTitle{
    border-left: 2px solid rgb(80,172,225);
    font-size: 12px;
    padding-left: 8px;
    margin-bottom: 25px;
}

.queryTitle p span{
    color: rgb(80,172,225);
}

.queryContent{
    border-bottom: 1px solid lightgrey;
    margin-bottom: 15px;
}

.listLeft{
    width: 75%;
    border-right: 2px solid rgb(80,172,225);
    margin-bottom: 30px;
}

.listImg{
    width: 76px;
    height: 100px;
    margin: 0 20px 20px 0;
}

.listContent{
    width: 89%;
    position: relative;
}

.listBasic span{
    margin-right: 10px;
    font-size: 15px;
}

.listBasic span:first-child{
    font-size: 18px;
    font-weight: bold;
}

.listBasic span:nth-child(3){
    color: rgb(0,191,255);
}

.sourceTable{
    width: 26%;
    margin-right: 10px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    margin-top: 5px;
}

.listDetail .sourceTable span:first-child{
    display: inline-block;
    margin-right: 5px;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
    vertical-align: middle;
}

.detail{
    width: 64%;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    margin-top: 5px;
}

.listContent>i{
    position: absolute;
    top: 82px;
    right: 15px;
}

.listMark{
    margin-top: 15px;
    position: relative;

}

.listMark i:first-child{
    color: rgb(0,191,255);
}

.listMark span{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 13px;
    color: black;
    border: 1px solid rgb(0,191,255);
    margin-right: 10px;
    padding: 0 3px 0 3px;
}

.arrowDown{
    position: absolute;
    right: 15px;
    top: 4px;
    cursor: pointer;
}

.listRight{
    width: 24%;
    font-size: 13px;
}

.listRight>div{
    margin-bottom: 5px;
}

.listRight i{
    color: rgb(0,191,255);
}

.listRight span:nth-child(2){
    color: lightgrey;
}

.listRight button{
    background: rgb(0,191,255);
    border: none;
    padding: 4px;
    color: white;
    border-radius: 3px;
}