<!--查询的信息结果-->
<div class="queryList">
    <div class="queryTitle">
        <p>为您找到相关结果<span> {{resultCount}} </span>个，耗时<span> {{time}} </span></p>
    </div>

    <div class="queryContent" ng-repeat="basicInfo in basicInfos">
        <div class="listLeft pull-left">
            <div class="listImg pull-left">
                <img ng-src="{{basicInfo.ry_img}}"/>
            </div>
            <div class="listContent pull-left">
                <div class="listBasic">
                    <span>{{basicInfo.ry_name}}</span>
                    <span>{{basicInfo.ry_sex}}</span>
                    <span class="idCard">{{basicInfo.ry_card}}</span>
                    <span>出生日期：{{basicInfo.ry_birth}}</span>
                    <span>籍贯：{{basicInfo.ry_ancestral}}</span>
                </div>
                <div class="listDetail" ng-repeat="record in basicInfo.records">
                    <div class="pull-left sourceTable" >
                        <span></span>
                        <span>{{record.record_title}}({{record.record_number}})</span>
                    </div>
                    <div class="pull-left detail">
                        <span>{{record.record_describe}}</span>
                    </div>
                </div>
                <i class="fa fa-chevron-down"></i>
            </div>
            <div class="clearfix"></div>
            <div class="listMark" >
                <i class="fa fa-tag"></i>
                <span ng-repeat="tag in basicInfo.tags">{{tag.tag}}</span>
                <i class="fa fa-chevron-down arrowDown"></i>
            </div>
        </div>
        <div class="listRight pull-right">
            <div class="listPhone">
                <i class="fa fa-phone"></i>
                <span>联系电话:</span>
                <span>{{basicInfo.ry_phone}}</span>
            </div>
            <div class="listRelated">
                <i class="fa fa-users"></i>
                <span>关系人:</span>
                <span>{{basicInfo.ry_contact}}</span>
            </div>
            <div class="listCase">
                <i class="fa fa-file-text"></i>
                <span>历史涉案:</span>
                <span>{{basicInfo.ry_history_involved}}</span>
            </div>
            <div class="listTrack">
                <i class="fa fa-map-marker"></i>
                <span>最新轨迹:</span>
                <span>{{basicInfo.ry_latest_track}}</span>
            </div>
            <button class="pull-right" ui-sref="index.ryxs({id:basicInfo.ry_id})">人员线索</button>
        </div>

        <div class="clearfix"></div>
    </div>

</div>

