.peopleClue{
    width: 1200px;
    margin: 0 auto;
    min-height: 1000px;
    background: white;
    /*height: 1000px;*/
}

.peopleMessage{
    padding-top: 10px;
}

.peopleImage img{
    width: 120px;
    height: 150px;
    margin-top: 15px;
}

/*人员基本信息开始*/

.peopleBasicMessage ul li{
    border-bottom: 1px solid ghostwhite;
    list-style: none;
    margin: 10px 10px 0 0;
}

.peopleInfoTitle{
    color: lightgrey;
}
.importPeople{
    color: red;
}

.peopleBasicMessage li h3 small{
    color: #00868B;
    margin-left: 8px;
}
.peopleBasicMessage li h3 small span{
    margin-left: 8px;
}

.ageTitle{
    margin-left: 150px;
}

.marriageTitle{
    margin-left: 292px;
}

/*基本信息右边图片*/
.peopleIcon{
    float: left;
    margin-right: 10px;
}

.peopleIcon p{
    margin-top: 5px;
    color: #00868B;
}
/*人员基本信息结束*/

/*关系线索开始*/
/*关系线索头*/
.relationClue{
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 10px;
    padding-top: 10px;
}
.relationTitleLeft{
    font-weight: bold;
    vertical-align: bottom;
}

.relationTitleRight{
    font-weight: bold;
    font-size: 12px;
    color: rgb(0,191,255);
}

/*家庭关系*/
.familyRelation{
    border-bottom: 1px dashed whitesmoke;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.familyRelationLeft{
    padding-top: 10px;
    border-right: 1px solid whitesmoke;
}

.familyRelationTitle{
    color: rgb(0,191,255);
    vertical-align: bottom;
    margin-left: 8px;
}


.familyDetailText{
    width: 45px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
}

.familyDetailImage{
    width: 45px;
    height: 65px;
    position: relative;
    margin-top: 10px;
}

.familyDetailImage>img{
    width: 45px;
    height: 65px;
}

.familyDetailName{
    background: black;
    opacity: 0.3;
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid whitesmoke;
    color: white;
    font-size: 12px;
}


.familyRelationRight{
    padding-top: 10px;
}

.familyDetail ul li{
    list-style: none;
    float: left;
    margin-right: 35px;
}
/*关系线索结束*/

/*社交线索开始*/

.socialCuleContent{
    border-bottom: 1px dashed whitesmoke;
    padding-bottom: 15px;
}

.socialCuleTtile{
    font-weight: bold;
    vertical-align: bottom;
}
.socialCule{
    font-size: 12px;
    border-right: 1px solid whitesmoke;
    padding-top: 10px;
}

.socialListTitle{
    color: rgb(80,172,225);
    vertical-align: middle;
    margin-left: 5px;
}

.socialDescribe{
    margin-top: 10px;
    margin-bottom: 10px;
}

.wldz{
    margin-top: 5px;
}

.socialSpan{
    color: gainsboro;
}
.activeTrain ul{
    margin: 10px 0 10px 0;
    background: pink;
}

.activeTrain ul li{
    list-style: none;
    float: left;
    margin-right: 35px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: lightgrey;
    text-align: center;
    position: relative;
    padding-top: 5px;
    /*line-height: 50px;*/
}


.activeTrain ul li .label{
    position: absolute;
    right: -5px;
    top: -5px;
    padding: 2px 3px 2px 3px;
}

.activeTrain ul li .labelactive{
    background: rgb(80,172,225);
}

.relationAdress{
    margin-top: 10px;
    font-size: 14px;
    margin-left: -30px;
}

.relationAdressTitle{
    margin: 15px 0 5px 0;
}
.relationAdressTitle>i{
    color: rgb(80,172,225);
}

.relationAdressDetail{
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.relationAdressDetail span:first-child{
    display: inline-block;
    margin-right: 10px;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
    vertical-align: middle;
}

.adressDescribe{
    margin-right: -40px;
}
.socialCuleRight{
    border-right: none;
}

/*社交线索结束*/
