<div class="peopleClue">
    <div class="peopleMessage">
        <div class="col-sm-2 peopleImage">
            <img ng-src="{{person.icon}}"  alt=""/>
        </div>
        <div class="col-sm-6 peopleBasicMessage">
            <ul>
                <li>
                    <h3>{{person.name}}
                        <small>{{person.nation}}<span>{{person.card}}</span></small>
                    </h3>
                </li>
                <li><span class="peopleInfoTitle">曾用名: {{person.oldname}}</span><span class="peopleInfoTitle ageTitle">年龄:</span> {{person.age}}<span
                        class="peopleInfoTitle ageTitle">性别:</span> {{person.sex}}
                </li>
                <li><span class="peopleInfoTitle">电话:</span> {{person.phone}}<span
                        class="peopleInfoTitle marriageTitle">婚姻:</span> {{person.marriage}} <span
                        class="peopleInfoTitle">(常口)</span>
                </li>
                <li><span class="peopleInfoTitle">户籍地址:</span> {{person.hjadress}}</li>
                <li><span class="peopleInfoTitle">现住地:</span> {{person.xzadress}}</li>
                <li class="importPeople"><span>重点人员:</span> {{person.import}}</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <div class="peopleIcon" ng-repeat="picInfo in picInfos">
                <img ng-src="{{picInfo.pic}}"/>
                <p>{{picInfo.des}}</p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 relationClue">
        <img src="assets/img/ryxs.gif" alt="">
        <span class="relationTitleLeft">关系线索</span>
        <span class="pull-right relationTitleRight">关系图谱</span>
    </div>
    <div class="col-sm-12 familyRelation">
        <div class="row">
            <!--家庭关系-->
            <div class="col-sm-4 familyRelationLeft">
                <i class="fa fa-group"></i>
                <span class="familyRelationTitle">家庭关系</span>

                <div class="familyDetail">
                    <ul  ng-repeat="familyRelation in familyRelations">
                        <li>
                            <div class="familyDetailImage">
                                <img ng-src="{{familyRelation.pic}}">
                                <span class="familyDetailName familyDetailText">{{familyRelation.name}}</span>
                            </div>
                            <p class="familyDetailText">{{familyRelation.sex}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!--亲密联系人-->
            <div class="col-sm-8 familyRelationRight">
                <div>
                    <i class="fa fa-heart"></i>
                    <span class="familyRelationTitle">亲密联系人</span>
                </div>
                <div class="familyDetail">
                    <ul ng-repeat="closeContact in closeContacts">
                        <li>
                            <div class="familyDetailImage">
                                <img ng-src="{{closeContact.pic}}">
                                <span class="familyDetailName familyDetailText">{{closeContact.name}}</span>
                            </div>
                            <p class="familyDetailText">{{closeContact.source}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--社交线索-->
    <div class="col-sm-12 socialCuleContent">
        <div class="row">
            <div class="col-sm-12 relationClue">
                <img src="assets/img/ryxs.gif" alt="">
                <span class="socialCuleTtile">社交线索</span>
            </div>
            <div class="col-sm-3 socialCule socialCuleLeft">
                <div>
                    <i class="fa fa-phone"></i>
                    <span class="socialListTitle">通讯</span>
                    <p class="socialDescribe">{{communicate.tx}}</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <span class="socialListTitle">通讯信息</span>

                    <p class="socialDescribe">{{communicate.txMessage}} &nbsp<span><i class="fa fa-location-arrow"></i> 来源: {{communicate.come}}</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-3 socialCule socialCuleMiddle">
                <div class="hlw">
                    <i class="fa fa-desktop"></i>
                    <span class="socialListTitle">互联网信息(来源于i搜)</span>

                    <p class="socialDescribe"><span class="socialSpan">邮箱:</span> {{internetMessage.email}}</p>

                    <p class="socialDescribe"><span class="socialSpan">网名:</span> {{internetMessage.screenName}}</p>

                    <p class="socialDescribe"><span class="socialSpan">电话号码:</span> {{internetMessage.phone}}</p>
                    <span class="socialSpan">物流地址:</span>

                    <p class="socialDescribe wldz">{{internetMessage.wladress}}</p>
                </div>
            </div>
            <div class="col-sm-6 socialCule socialCuleRight">
                <div class="activeTrain col-sm-12">
                    <div class="row">
                        <i class="fa fa-male"></i>
                        <span class="socialListTitle">最近活动轨迹(一年)</span>
                        <ul>
                            <li>
                                <i class="fa fa-train fa-2x"></i>
                                <p>火车</p>
                                <span class="label label-default" show-active-color>{{recentActTra.trainTimes}}</span>
                            </li>
                            <li>
                                <i class="fa fa-car fa-2x"></i>
                                <p>客运</p>
                                <span class="label label-default" show-active-color>{{recentActTra.carTimes}}</span>
                            </li>
                            <li>
                                <i class="fa fa-hotel fa-2x"></i>
                                <p>旅馆</p>
                                <span class="label label-default" show-active-color>{{recentActTra.hotelTimes}}</span>
                            </li>
                            <li>
                                <i class="fa fa-plane fa-2x"></i>
                                <p>民航</p>
                                <span class="label label-default" show-active-color>{{recentActTra.planeTimes}}</span>
                            </li>
                            <li>
                                <i class="fa fa-desktop fa-2x"></i>
                                <p>上网</p>
                                <span class="label label-default" show-active-color>{{recentActTra.internetTimes}}</span>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="relationAdress col-sm-12">
                    <div class="col-sm-12 relationAdressTitle">
                        <i class="fa fa-user"></i>
                        <span>联系地址</span>
                    </div>
                    <div class="col-sm-12" ng-repeat="contactAdre in contactAdress">
                        <div class="relationAdressDetail pull-left">
                            <span></span><span>{{contactAdre.adress}}</span>
                        </div>
                        <div class="pull-right adressDescribe">
                            <span>{{contactAdre.status}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



